body {
  background-color: rgb(248, 248, 248);
}
.Header {
  display: flex;
  background-color: rgb(88, 225, 88);
  height: 11em;
}

.header_image {
  align-items: start;
  margin-top: 0.8em;
  margin-left: 0.8em;
  height: 9.5em;
  width: 9.5em;
}

.heading {
  padding: 0.1em;
  padding-left: 13em;
  font-size: 1em;
}
.learn-more-btn {
  /* background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; */
  margin-right: 10px;
}
.read-description-btn {
  /* cursor: pointer; */
  max-width: 2em;
  height: auto;
}
/* Style for the expanded content */
.expanded-content {
  display: none;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
}
.inline-container {
  display: flex;
  align-items: center;
}
#middle {
  margin-left: 1em;
}

.inputbox {
  font-size: 2em;
  /*border-width: 0.5em;*/
  padding: 0.5em;
}
.footer {
  background-color: green;
  padding: 10px;
  text-align: left;
  height: 100px;
  font-size: 2.5em;
}
.box {
  margin-top: 0.5em;
  border: solid;
  font-size: 2em;
  width: 21em;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1em;
}
.box:hover {
  background-color: lightblue;
  font-size: 2.2em;
}
.submit {
  border: solid;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1em;
}
#last {
  margin-left: 8.2em;
}
#middle {
  margin-left: 1.75em;
}
#first {
  margin-left: 8em;
}
#dobB {
  margin-left: 6em;
}
#dodB {
  margin-left: 5em;
}
#podB {
  margin-left: 2.3em;
}
.theme-toggle {
  margin-top: 2em;
  font-size: 1em;
}
.dark-mode {
  background-color: black;
  color: white;
}

.p-info {
  font-size: 2.7em;
}
