@layer utilities {
  .content-auto {
    /* optomizes page rendering by avoiding unnecessary rendering of content 
       the user does not immediately need */
    content-visibility: auto;
  }
}


.w-custom {
  width: 40em;
}
.wi {
  width: 8em;
  height: auto;
}
