body {
  background-color: rgb(250, 252, 252);
}

.header {
  background-color: rgb(249, 252, 249);
  padding: 0.8em;
  text-align: left;
  height: 9.5rem;
}

.header img {
  height: 9.5em;
  width: 9.5em;
}

.text {
  color: black;
  font-size: 1.5em; /* adjusted font size */
  font-family: sans-serif;
}

.images {
  height: 20rem;
  border: 0.4rem solid black; /* Border color and thickness */
  border-radius: 10rem; /* Border radius for rounded corners */
  padding: 0px;
}

ul.text li {
  margin-right: 50px;
}

/* Button container */
.button-container {
  position: fixed;
  bottom: 20px; /* Move the buttons upwards */
  right: 20px;
}

.button-container button {
  font-size: 1em;
  padding: 10px 20px;
}

.footer {
  background-color: green;
  padding: 10px;
  text-align: left;
  height: 100px;
  font-size: 2.5em;
}

