body {
  /* background-color: white; */
  background-color: rgb(250, 252, 252);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: black;
  font-size: 2.7em;
  font-family: sans-serif;
}

.images {
  height: 20rem;
  border: 0.4rem solid black; /* Border color and thickness */
  border-radius: 10rem; /* Border radius for rounded corners */
  padding: 0px;
}

ul.text li {
  /* display: inline-block; */
  margin-right: 50px;
}
